<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    
</head>
<body>
    <fieldset>
    	<form action="{{ url_for('login') }}" method = "POST">
            <p>
                <br />
                아이디 
                <input type = "text" name = "id"><br/>
                패쓰워드
                <input type = "passward" name = "pass"><br/>
                <input type = "submit" value = "로그인">
                <p>{% if message: %} {{message}} {% endif %}</p>
            </p>
        </form>
        <a href="{{url_for('signup')}}">
            <button>회원가입</button>
        </a>
        
        
    </fieldset>
</body>
</html>